@model HealthyDiet.Domain.DTO.DietPlansDTO

@{
    ViewData["Title"] = "Diet Plans Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Required imports -->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="~/custom/js/bootstrap.js"></script>

<script>
    $(document).ready(function () {

        function updateValuesRange(id) {
            var inputValue = $("#" + id + "").val();
            $("#" + id + "Counter").text(inputValue);
        }

        updateValuesRange("dietIntensity");
        updateValuesRange("weightLoss");
        updateValuesRange("lengthDays");
        updateValuesRange("noCalories");

        $("#dietIntensity").change(function () {
            updateValuesRange("dietIntensity");
        });
        $("#weightLoss").change(function () {
            updateValuesRange("weightLoss");
        });
        $("#lengthDays").change(function () {
            updateValuesRange("lengthDays");
        });
        $("#noCalories").change(function () {
            updateValuesRange("noCalories");
        });
    })
</script>

<div class="container my-5">

    <div class="row mb-5">

        <!-- Search bar -->
        <div class="col-4">
            <form asp-controller="DietPlans" asp-action="SearchDiets" method="post">
                <div class="input-group">
                    <div class="input-group">
                        <input hidden id="pageNumber" name="pageNumber" value="@Model.PageNumber" />
                        <input id="text" name="text" type="text" class="form-control" placeholder="Search for diets...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-success">
                                &nbsp; &nbsp; &nbsp;<i class="fa fa-search"></i> &nbsp; &nbsp; &nbsp;
                            </button>
                        </span>
                    </div>
                </div>
            </form>
        </div>

        <!-- Alert -->
        <div class="col-4 mt-5">

            @if (Model.Diets.Count == 0)
            {
                <div class="mt-5">
                    <div class="alert alert-danger" role="alert">
                        There are no results with the specified filter options. Please <a asp-controller="DietPlans" asp-action="Index" class="alert-link">refresh</a> the page.
                    </div>
                </div>
            }
        </div>

        <!-- Filters -->
        <div class="col-2">
            <form asp-controller="DietPlans" asp-action="FilterDiets" method="post">

                <input hidden id="pageNumber" name="pageNumber" value="@Model.PageNumber" />

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#filters">
                    <i class="fas fa-filter"></i> Filters
                </button>

                <!-- Modal -->
                <div class="modal fade" id="filters" tabindex="-1" role="dialog" aria-labelledby="dietFiltersTitle" aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="dietFiltersHeader">Diet Plan Filters</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <div class="row align-middle">
                                    <div class="col-4 text-left pt-2">
                                        Diet Intensity:
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input id="dietIntensity" name="dietIntensity" type="range" class="form-control form-range" min="0" max="100" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        > <b><span id="dietIntensityCounter"></span></b>
                                        %
                                    </div>
                                </div>
                                <div class="row align-middle">
                                    <div class="col-4 text-left pt-2">
                                        Weight loss:
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input id="weightLoss" name="weightLoss" type="range" class="form-control form-range" min="1" max="40" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        > <b><span id="weightLossCounter"></span></b>
                                        kg
                                    </div>
                                </div>
                                <div class="row align-middle">
                                    <div class="col-4 text-left pt-2">
                                        Length:
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input id="lengthDays" name="lengthDays" type="range" class="form-control form-range" min="1" max="50" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <b><span id="lengthDaysCounter"></span></b>
                                        days
                                    </div>
                                </div>
                                <div class="row align-middle">
                                    <div class="col-4 text-left pt-2">
                                        Daily average calories:
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <input id="noCalories" name="noCalories" type="range" class="form-control form-range" min="200" max="4000" />
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        < <b><span id="noCaloriesCounter"></span></b>
                                        calories
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!-- Sort -->
        <div class="col-2">
            <form asp-controller="DietPlans" asp-action="SortDiets" method="post">

                <input hidden id="pageNumber" name="pageNumber" value="@Model.PageNumber" />

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-block btn-success" data-toggle="modal" data-target="#sort">
                    <i class="fas fa-sort"></i> Sort
                </button>

                <!-- Modal -->
                <div class="modal fade" id="sort" tabindex="-1" role="dialog" aria-labelledby="sortTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sortTitleHeader">Sort Diet Plans</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-check mb-2">
                                                <input class="form-check-input" name="sortCondition" type="radio" value="0" id="rating">
                                                <label class="form-check-label" for="rating">
                                                    By Rating
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" name="sortCondition" type="radio" value="1" id="popularity">
                                                <label class="form-check-label" for="popularity">
                                                    By Popularity
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row mb-4">
        @for (int i = 0; i < Model.Diets.Count; i++)
        {
            var item = Model.Diets.ElementAt(i);

            <div class="col-4 portfolio-item mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img class="card-img-top" src="@item.PictureURL"
                             style="height: 220px;">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title text-center">
                            @item.Name
                        </h4>
                        @if (item.Description.Length <= 220)
                        {
                            <p class="card-text text-center">@item.Description</p>
                        }
                        else
                        {
                            <p class="card-text text-center">@item.Description.Substring(0, 220) ...</p>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <a asp-controller="DietPlans" asp-action="Details" asp-route-dietPlanId="@item.Id" class="btn btn-info btn-block font-weight-bold">View More...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<br />
<br />

<!--    No pagination for filtered diet plans   -->
@if (!Model.AreFiltered)
{
    <!--    Pagination   -->
    <div class="container mt-4">
        <ul class="pagination justify-content-center">

            @if (Model.PageNumber == 1)
            {
                <li class="page-item prev-next disabled">
                    <a class="page-link number-alt btn-success active-green disabled" asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber-1)" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item prev-next">
                    <a class="page-link number-alt btn-success active-green" asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber-1)" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition">
                        <span aria-hidden="true">Previous</span>
                    </a>
                </li>
            }
            @{
                var noPages = (Model.DietsSize) / 6;
                if (Model.DietsSize % 6 != 0)
                    noPages++;
                var startIndex = 1;
                var endIndex = (noPages - Model.PageNumber);
                if (endIndex > 3)
                    endIndex = startIndex + 4; // we have more pages to load
                else
                {
                    endIndex = noPages;
                    startIndex = ((int)noPages) - 4;
                } // the limit of pages is reached

                for (int i = startIndex; i <= endIndex; i++)
                {
                    if (i == Model.PageNumber)
                    {
                        <li class="page-item mx-2"><a asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@i" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition" class="page-link active-green paginateLink">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item mx-2"><a asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@i" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition" class="page-link paginateLink">@i</a></li>
                    }
                }
            }


            @if (Model.PageNumber == ((Model.DietsSize / 6) + 1) || (Model.DietsSize / 6) == 0)
            {
                <li class="page-item disabled">
                    <a class="page-link number-alt btn btn-success disabled" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition" asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)">
                        <span>Next</span>
                    </a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link number-alt btn btn-success active-green" asp-route-sorted="@Model.AreSorted" asp-route-sortCondition="@Model.SortCondition" asp-controller="DietPlans" asp-action="Index" asp-route-pageNumber="@(Model.PageNumber + 1)">
                        <span>Next</span>
                    </a>
                </li>
            }
        </ul>
    </div>
}

<style>
    .active-green {
        background-color: #28a746;
        color: white;
    }
</style>